<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li> 
	        	<li><a href="/About">About</a></li>
        		<li><a href="/CV">CV</a></li>
        		<li><a href="/Entries">Entries</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="email">email</a></li>
        		<li><a href="ceyleenp1486@afsenyc.org">ceyleenp1486@afsenyc.org</a></li>
			</ul>
		</footer>
	</body>
</html>
