<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" href="https://cdn.shopify.com/s/files/1/1061/1924/products/Sunglasses_Emoji_be26cc0a-eef9-49e5-8da2-169bb417cc0b_large.png">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li> 
	        	<li><a href="/About">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ceyleenp1486@afsenyc.org">email</a></li>
        		<li><a href="https://github.com/ceyleenp1486">github.com/ceyleenp1486</a></li>
			</ul>
		</footer>
	</body>
</html>
